@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="padding: 30px">Welcome to projects control service!</h1>
    
</div>
<div>
    <h1>ForumWatch: Мониторинг Форумов и Чатов в Реальном Времени</h1>
    <p><strong>ForumWatch</strong> - это передовой сервис мониторинга, который предоставляет комплексные решения для отслеживания активности на форумах и в чатах. Наша платформа использует мощные алгоритмы искусственного интеллекта для анализа тенденций, обнаружения ключевых слов и фраз, а также для идентификации наиболее активных и влиятельных участников.</p>
    <h2>Основные возможности:</h2>
    <ul>
        <li><strong>Анализ Трендов:</strong> Определение горячих тем и трендов в реальном времени.</li>
        <li><strong>Уведомления:</strong> Мгновенные оповещения о важных событиях или упоминаниях.</li>
        <li><strong>Отчеты:</strong> Глубокий анализ данных с возможностью экспорта отчетов.</li>
        <li><strong>Интеграция:</strong> Легкая интеграция с существующими системами и платформами.</li>
        <li><strong>Безопасность:</strong> Высокий уровень защиты данных и конфиденциальности информации.</li>
    </ul>
    <p><em>ForumWatch</em> идеально подходит для организаций, которые стремятся оставаться в курсе обсуждений своего бренда, продуктов или услуг, а также для исследователей рынка и аналитиков социальных медиа. Наш сервис помогает вам быть на шаг впереди, предоставляя ценные инсайты и позволяя оперативно реагировать на изменения в общественном мнении.</p>
</div>
